* {
	/*outline: 1px solid darkblue;*/
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	font-size: 2em;
	background: #119ee0;
	/*background: url of album art;*/
}

header {
	height: 8%;
	background: white;
}

.main {
	height: 44%;
	text-align: center;
	position: relative;
	color: white;
}

.main-word {
	padding-top: 2%;
	font-size: 3.2em
}

.main-input {
	font-size: 3em;
	border: none;
	border-bottom: 2px solid darkslategray; 
	display: block;
	margin: auto;
	padding: 5px;
	background: transparent;
}

.main-input:focus {
	outline: none;
}

input {
	text-align: center;
}
/*.hands {
	height: 24%;
	clear: both;
	position: relative;
}*/

/*===============================
hands
===============================*/

/*.leftHand *, .rightHand * {
	outline: 1px solid darkblue;
}*/

.leftHand, .rightHand {
	/*background: white;*/
	position: absolute;
	height: 100%;
	width: 30%;
}

.leftHand {
	left: 0;
}

.rightHand {
	right: 0;
}

.leftHand>div div, .rightHand>div div {
	display: inline-block;
}

.top {
	height: 75%;
}

.bottom {
	height: 25%;
}

.thumb {
	width: 17%;
	height: 100%;
	position: relative;
	text-align: left;
}

.thumbTop {
	position: absolute;
	width: 100%;
	height: 20%;
	bottom: 0;
	border-radius: 40px 40px 0px 0px;
	margin-left: 31%;
}

/*.rightHand .thumb {
	text-align: right;
}

.rightHand .thumbTop {
	margin-right: 31%;
}*/

.bottom .thumb, .thumbTop, .finger, .palm {
	background: #fd7d68;
	/*background: aliceblue;*/
}

.leftHand .bottom .thumb, .leftHand .thumbTop {
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	-ms-transform: skew(-20deg);	
	transform: skew(-20deg);
}

.rightHand .bottom .thumb, .rightHand .thumbTop {
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
	-ms-transform: skew(20deg);	
	transform: skew(20deg);
}

.palmArea, .fingersArea {
	width: 75%;
	height: 100%;
}

.palmArea, .fingersArea, .thumb {
	float: left;
}

.palmArea {
	position: relative;
}

.palm {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 5%;
}

.fingersArea {
	position: relative;
	text-align: left;
}

.finger {
	position: absolute;
	bottom: 0;
	width: 20%;
	height: 80%;
	border-radius: 30px 30px 0px 0px;
}

.leftHand .one {
	left: 5%;
	height: 70%;
	/*background: red;*/
}

.leftHand .two {
	left: 30%;
	height: 90%;
}

.leftHand .three {
	left: 55%;
	height: 100%
}

.leftHand .four {
	left: 80%;
	height: 85%;
}

.rightHand .one {
	left: 5%;
	height: 85%;
	/*background: red;*/
}

.rightHand .two {
	left: 30%;
	height: 100%;
}

.rightHand .three {
	left: 55%;
	height: 90%
}

.rightHand .four {
	left: 80%;
	height: 70%;
}

/*===============================
keyboard
===============================*/


.keyboard {
	height: 48%;
	color: black;
}

.keyboard div {
	height: 17%;
	margin-bottom: 0.7%;
	text-align: center;
}

.keyboard span {
	display: inline-block;
	height: 100%;
	width: 6.3%;
	text-align: center;
	vertical-align: top;
	padding: 0% 0.6%;
	padding-top: 0.3%;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 3px 5px;
	position: relative;
	background: aliceblue;
}

.keyboard span:hover {
	background: gold;
}

.keyboard span:active {
	box-shadow: 1px 3px;
	top: 2px;
	left: 2px;
/*	background: green if correct;
	background: red if incorrect;*/
}


.keyboard span:first-child {
	text-align: left;
}

.keyboard span:last-child {
	text-align: right;
}

.row1 span:first-child {
	text-align: center;
}

.row1 span:last-child {
	width: 8.6%;
}

.row2 span:first-child {
	width: 8.6%;
}

.row2 span:last-child {
	text-align: center;
}

.row3 span:first-child, .row3 span:last-child {
	width: 10.9%;
}

.row4 span:first-child, .row4 span:last-child {
	width: 14.3%;
}

.row5 span {
	float: left;
	margin: 0% 0.3%;
}

.row5 span:first-child {
	margin-left: 0.8%;
}

.row5 span:nth-child(4), .row5 span:nth-child(6) {
	width: 7.5%;
}

.row5 span:nth-child(5) {
	width: 34%;
}















