* {
	outline: 1px solid red;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	font-size: 2em;
}

header {
	height: 8%;
}

.middle {
	height: 20%;
	position: relative;
}

.left, .right, .center {
	display: inline-block;
	height: 100%;
	vertical-align: top;
	text-align: center;
	float: left;
	padding: 4%;
}

.left, .right {
	width: 30%;
}

.center {
	width: 40%;
}

.main-word {
	position: relative;
	top: 10px;
	font-size: 3.2em
}

.hands {
	height: 24%;
	clear: both;
	position: relative;
}

input {
	text-align: center;
}

.main-input {
	padding: 5px;
}

.keyboard {
	height: 48%;
}