<header>
	<!-- <a href="/#/" class='changeViews'><span class='button'>Resume</span></a> -->
</header>
<div class='searchResults'>
	<form ng-submit="searchSong(query)">
		<input type="text" ng-model='query' placeholder='Search for an artist or song' class='query'>
		<span class='search button'><input type="submit" class="queryButton" value="search"></span>
	</form>
	<div class='resultContainer'>
		<div class='result' ng-repeat='result in searchResults' ng-click="getSong(result.track.track_id, result.track.artist_name, result.track.track_name, result.track.album_name, result.track.album_coverart_500x500, result.track.track_spotify_id)">
			<img class='resultArt' ng-src="{{ result.track.album_coverart_500x500 }}">
			<span class='resultDetails'>
				<div class='resultSong'>{{ result.track.track_name }}</div>
				<div class='resultArtist'><span class='resultSpan'>by </span>{{ result.track.artist_name }}</div>
				<div class='resultAlbum'><span class='resultSpan'>on </span>{{  result.track.album_name }}</div>
			</span>
		</div>
	</div>	
</div>
<footer>
	<div>MusicalTypes™ built by <a class="portfolio" href="http://www.brianloughnane.com" target="_blank">BRIAN<strong>LOUGHNANE</strong></a></div>
</footer>