<header>
	<span class='statusBar'>
		<img class='albumArtHeader' ng-src="{{ nowPlaying.art }}">
		<span>{{ nowPlaying.song }} 
			<span ng-if='nowPlaying.artist.length !== 0 && nowPlaying.artist !== undefined'>by</span> {{ nowPlaying.artist }}
			<span ng-if='nowPlaying.album.length !== 0 && nowPlaying.album !== undefined'>on</span> {{ nowPlaying.album }}
		</span> 
		<span>Score: {{ score }}</span>
		<span>Errors: {{ numberOfErrors }}</span>
		<span>{{ timer.tensOfMinutes }}{{ timer.minutes }}:{{ timer.tensOfSeconds }}{{ timer.seconds }}</span>  
		<span>Progress: <input type='range' ng-model="progress" min='0' max='100' ng-trim='false'> {{ progress | number:0 }}%</span>
	
	</span>
</header>
<div class="mainAndKeyboard">
	<div class="play" ng-if="listenView"><img class='albumArtPlay' ng-src="{{ nowPlaying.art }}"></div>
	<div class="main">
		<div class="leftHand">
			<div class='top'>
				<div class='fingersArea'>
					<div finger="leftPinky" class="finger leftPinky"></div>
					<div finger="leftRing" class="finger leftRing"></div>
					<div finger="leftMiddle" class="finger leftMiddle"></div>
					<div finger="leftIndex" class="finger leftIndex"></div>
				</div>
				<div class="thumbArea">
					<div finger="thumb" class="thumb"></div>
				</div>
			</div>
			<div class='bottom'>
				<div class='palmArea'>
					<div class='palm'></div>
				</div>
			</div>
		</div>
		<div class="rightHand">
			<div class='top'>
				<div class="thumbArea">
					<div finger="thumb" class="thumb"></div>
				</div>
				<div class='fingersArea'>
					<div finger="rightIndex" class="finger rightIndex"></div>
					<div finger="rightMiddle" class="finger rightMiddle"></div>
					<div finger="rightRing" class="finger rightRing"></div>
					<div finger="rightPinky" class="finger rightPinky" ng-class="{incorrect: mistype}"></div>
				</div>
			</div>
			<div class='bottom'>
				<div class='palmArea'>
					<div class='palm'></div>
				</div>
			</div>
		</div>
		<div class="main-word">
			<span class="word">{{ wordMinusTwo }}</span>
			<span class="word">{{ wordMinusOne }}</span>
			<span class="word" ng-class="{lessSpace: isSpace}">
				<span ng-repeat='letter in word track by $index' letter-directive>{{ letter }}</span>
			</span>
			<span class="word">{{ wordPlusOne }}</span> 
			<span class="word">{{ wordPlusTwo }}</span> 
			<span ng-if='isSpace' class='isSpace'>(space)</span>
		</div> 
		<div>
			<input class="main-input" ng-model="userInput" type='text' ng-trim='false'>
		</div>
	</div>
			
	<div keyboard class="keyboard"></div>
</div>	
<footer>
	<div>MusicalTypes™ built by <a class="portfolio" href="http://www.brianloughnane.com" target="_blank">BRIAN<strong>LOUGHNANE</strong></a></div>
	<div class="copyright">Lyrics powered by www.musiXmatch.com. This Lyrics is NOT for Commercial use and only 30% of the lyrics are returned.</div>
	<img ng-src="{{ nowPlaying.tracking }}">
</footer>
<iframe class="iframe hidden" ng-src="{{ trustSrc(url) }}"></iframe>	
