<header>
	<span class='statusBar'>
		<img class='albumArtHeader' ng-src="{{ mainctrl.nowPlaying.art }}">
		<span>{{ mainctrl.nowPlaying.song }} 
			<span ng-if='mainctrl.nowPlaying.artist.length !== 0 && mainctrl.nowPlaying.artist !== undefined'>by</span> {{ mainctrl.nowPlaying.artist }}
			<span ng-if='mainctrl.nowPlaying.album.length !== 0 && mainctrl.nowPlaying.album !== undefined'>on</span> {{ mainctrl.nowPlaying.album }}
		</span> 
		<span>Score: {{ mainctrl.header.score }}</span>
		<span>Errors: {{ mainctrl.header.numberOfErrors }}</span>
		<span>{{ mainctrl.header.timer.tensOfMinutes }}{{ mainctrl.header.timer.minutes }}:{{ mainctrl.header.timer.tensOfSeconds }}{{ mainctrl.header.timer.seconds }}</span>  
		<span>Progress: <input type='range' ng-model="mainctrl.header.progress" min='0' max='100' ng-trim='false'> {{ mainctrl.header.progress | number:0 }}%</span>
	</span>
</header>

<div class="mainAndKeyboard">
	<div class="play" ng-if="mainctrl.listenView"><img class='albumArtPlay' ng-src="{{ mainctrl.nowPlaying.art }}"></div>
	<div class="main">
		<div class="leftHand">
			<div class='top'>
				<div class='fingersArea'>
					<div finger="leftPinky" class="finger leftPinky"></div>
					<div finger="leftRing" class="finger leftRing"></div>
					<div finger="leftMiddle" class="finger leftMiddle"></div>
					<div finger="leftIndex" class="finger leftIndex"></div>
				</div>
				<div class="thumbArea">
					<div finger="thumb" class="thumb"></div>
				</div>
			</div>
			<div class='bottom'>
				<div class='palmArea'>
					<div class='palm'></div>
				</div>
			</div>
		</div>
		<div class="rightHand">
			<div class='top'>
				<div class="thumbArea">
					<div finger="thumb" class="thumb"></div>
				</div>
				<div class='fingersArea'>
					<div finger="rightIndex" class="finger rightIndex"></div>
					<div finger="rightMiddle" class="finger rightMiddle"></div>
					<div finger="rightRing" class="finger rightRing"></div>
					<div finger="rightPinky" class="finger rightPinky" ng-class="{incorrect: mistype}"></div>
				</div>
			</div>
			<div class='bottom'>
				<div class='palmArea'>
					<div class='palm'></div>
				</div>
			</div>
		</div>
		<div class="main-word">
			<span class="word">{{ mainctrl.current.wordMinusTwo }}</span>
			<span class="word">{{ mainctrl.current.wordMinusOne }}</span>
			<span class="word" ng-class="{lessSpace: mainctrl.isSpace}">
				<span ng-repeat='letter in mainctrl.current.word track by $index' letter-directive>{{ letter }}</span>
			</span>
			<span class="word">{{ mainctrl.current.wordPlusOne }}</span> 
			<span class="word">{{ mainctrl.current.wordPlusTwo }}</span> 
			<span ng-if='mainctrl.isSpace' class='isSpace'>(space)</span>
		</div> 
		<div>
			<!-- <input class="main-input" ng-model="userInput" type='text' ng-trim='false'> -->
			<input class="main-input" ng-model="userInput" ng-change="mainctrl.evaluate()" type='text' ng-trim='false'>
		</div>
	</div>
			
	<div keyboard class="keyboard"></div>
</div>	
<footer>
	<div>MusicalTypes™ built by <a class="portfolio" href="http://www.brianloughnane.com" target="_blank">BRIAN<strong>LOUGHNANE</strong></a></div>
	<div class="copyright">Lyrics powered by www.musiXmatch.com. This Lyrics is NOT for Commercial use and only 30% of the lyrics are returned.</div>
	<img ng-src="{{ mainctrl.nowPlaying.tracking }}">
</footer>
<iframe class="iframe hidden" ng-src="{{ mainctrl.trustSrc(mainctrl.url) }}"></iframe>	
